:root {
	--max: 80vw;
}

html {
	box-sizing: border-box;
}

::-moz-selection {
	background-color: $color__background_selection;
}

::selection {
	background-color: $color__background_selection;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	@include link-transition;
	color: $color__link;
}

a:visited {
	color: inherit;
}

a:hover,
a:active {
	color: $color__link-hover;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}

@import "lists";

figure {
	margin: 0;
}

blockquote {
	border-left: 2px solid $color__link;
	margin-left: 0;
	padding: 0 0 0 $size__spacing-unit;

	> p {
		margin: 0 0 $size__spacing-unit;
	}

	cite {
		color: $color__text-light;
	}
}

.site-content {
	margin: 0 auto;
	max-width: var(--max);
}

@import "tables";